@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Saira:wght@300;400;500;600;700&display=swap');

* {
    /*font-family: "Ubuntu", sans-serif;*/
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

html, body {
    width: 100%;
    height: 100%;
}


.mega-container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }

.button-cart{
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1rem 1rem 0;
    filter: drop-shadow(0px 5px 5px #5e5eff);
}

h1,
h2,
h3,
h4,
h5,
h6, .card-text, h2 a {
    font-family: 'Saira', sans-serif;
}

p, h2, .description{
    color: #343a40;
}

h2 a{
    font-size: 2rem;
}
h3{
    font-size: 1.25rem;
    color: #5e5eff!important;
}

.text-primary{
    color: #5e5eff!important;
}

a.text-primary:hover{
    color: #7070ff!important;
}

.banner{
    height: 300px; 
    background-image: url("../imgs/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner h1{
    color: #7070ff;
}

.subtitle, .subtitle b, footer p{
    color: white;
}

.f-14{
    font-size: 0.875rem;
}

.gap-8{
    gap: 8px;
}

.o-dkp{
    display: none;
}

.card a{
    text-decoration: none;
}

.img-home-galery{
    aspect-ratio: 800/800;
    object-fit: contain;
}

.card-title{
    font-size:1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-body{
    color: #343a40;
}

.card-text{
    font-weight: bold;
    font-size: 1.5rem;
    color: #7070ff;
}

.card-text .small, .cost, .cost .small{
    font-family: 'Josefin Sans', sans-serif;
    color: #7070ff;
    text-transform: uppercase ;
}

.price{
    text-transform: uppercase ;
}

.card-footer{
    text-align: end;
    background-color: white;
}

.pagination{
    justify-content: center;
}

.page-link{
    color: #5e5eff;
}

.page-link:hover{
    color: #7e7ef1;;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #5e5eff;
    border-color: #5e5eff;
}

.btn-warning {
    color: white;
    background-color: #5e5eff;
    border-color: #5e5eff;
  }

  .btn-warning i{
    color: white;
  }

.btn-warning:hover {
    color: white;
    background-color: #7070ff;
    border-color: #7070ff;
  }

.btn-warning.focus, .btn-warning:focus {
    color: #212529;
    background-color: #7b68ee;
    border-color: #7b68ee;
    box-shadow: 0 0 0 .2rem #7e7ef1;
  }

  .btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #7e7ef1;
  }

  .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
    color: white;
    background-color: #7b68ee;
    border-color: #7b68ee;
  }

.add-cd {
    display: flex;
    justify-content: center;
}

.add-cd a {
    align-self: center;
}

.view-product ul {
    list-style: none;
    padding-left: 0;
}

.media div ul{
    list-style: none;
    padding: 0;
}

.media div ul li button, .media div ul li a{
    width: 100%;
}

.price{
    font-size: 1.5rem;
    font-weight: bold;
}

.cost,
.description,
.duration,
.release {
    margin: 1em 0em;
}

 .cart-empty {
    padding: 30px;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

input::file-selector-button {
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: #7070ff;
    font-size: .875rem;
    display: inline-block;
  }

.view-product .cost{
    font-size: 2em;
    color: #7070ff;
    font-weight: bold;
    margin: .4em 0;
}

.img-login{
    max-width: 120px;
    margin-bottom: 1rem;
}

.img-centered{
    align-self: center;
}

.td-center{
    text-align: center;
}

.bg-form {
    max-width: 800px;
}

.footer {
    padding: 3em 0;
    background-color: #343a40;
    color: #efefef;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .o-dkp {
      display: block;
    }

    .navbar-collapse{
        justify-content: right;
    }
}
  
/* Profile Page */

.profile-box{
    position: relative;
}

.profile-box a{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem
}